.DS_Store
Soviet-Keyswitch-Replacement/Soviet_Keyswitch_Replacement.kicad_prl
Soviet-Keyswitch-Replacement/fp-info-cache
/Soviet-Keyswitch-Replacement/Soviet_Keyswitch_Replacement-backups
/TFC_10-pin/TFC_10-pin-backups
TFC_10-pin/TFC_10-pin.kicad_prl
TFC_8-pin_IDC/fp-info-cache
/TFC_8-pin_IDC/TFC_8-pin_IDC-backups
TFC_8-pin_IDC/TFC_8-pin_IDC.kicad_prl
TFC_10-pin/fp-info-cache
/2764-to-MK36000/2764-to-MK36000-backups
2764-to-MK36000/2764-to-MK36000.kicad_prl
2764-to-MK36000/fp-info-cache
/8080_Logic_Analyser/8080_Logic_Analyser-backups
*.kicad_prl
8080_Logic_Analyser/fp-info-cache
Z80_Logic_Analyser/fp-info-cache
/Z80_Logic_Analyser/Z80_Logic_Analyser-backups
/RGB_to_VGA/RGB_to_VGA-backups
RGB_to_VGA/fp-info-cache
/6502_Logic_Analyser/6502_Logic_Analyser-backups
6502_Logic_Analyser/fp-info-cache
6510_Logic_Analyser_Breakout/fp-info-cache
/6510_Logic_Analyser_Breakout/6510_Logic_Analyser_Breakout-backups
/CDP1802_Logic_Analyser_Breakout/CDP1802_Logic_Analyser_Breakout-backups
DIN-to-Audio_Jack/fp-info-cache
/DIN-to-Audio_Jack/DIN-to-Audio_Jack-backups
/DE9_Breakout/DE9_Breakout-backups
/2764-to-68764_Write/2764-to-68764_Write-backups
2764-to-68764_Write/fp-info-cache
/68764-to-2764_Read/68764-to-2764_Read-backups
68764-to-2764_Read/fp-info-cache
DE9_Breakout/fp-info-cache
/DB25_Breakout/DB25_Breakout-backups
DB25_Breakout/fp-info-cache
